h3{
    text-align: center;
    color: #0D1321;
}

.reason-rep{
    text-align: center;
}

.change-world{
    display: flex;
    justify-content:space-around;
    margin-top: 4px;
    padding: 8px;
    color: #0D1321;
    margin: 5px 3px;

}

.layer1-img{
    width: 259px;
    height: 217;
}

.web-system{
 display: flex;
 justify-content:space-around;
 color: #0D1321;
 padding: 8px;
 margin: 5px 3px;

}
.group3-img{

    width: 259px;
    height: 217;

}

.change-world-again{

    display: flex;
    justify-content:space-around;
    margin-top: 4px;
    padding: 8px;
    color: #0D1321;
    margin: 5px 3px;


}

.layer3-img{
    width: 259px;
    height: 217;

}
.inspiration{
    text-align: center;
}

.inspiration-heading{
    font-weight: 700;
}

.video{
    text-align: center;
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 2px;
    margin-top: 2px;
}


.current-target{
    text-align: center;
}

.three-box{
   
   display: flex;
  
  
    
}

.box-1{
    
    margin: 15px;
    padding: 40px;
    border: 2px solid gray;
    background-color: rgba(255, 211, 30, 0.05);
    
    
}

.box-2{
    margin: 15px;
    padding: 40px;
    border: 2px solid gray;
    background-color: rgba(0, 76, 232, 0.05);
}

.box-3{

    margin: 15px;
    padding: 40px;
    border: 2px solid gray;
    background-color: #ede6c0;
}

.learn-more-2{
    color: #0D1321;
    font-weight: 800;
}

