

.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.first-ban{

    text-align: center;
    padding: 2px;
    background-image: url('./assets/Hero-bg.png');
    background-position: bottom;
}
.why-dev{
    text-align: center;

}

.contact-with-btn{
    color: white;
    background-color: #0D1321;
    text-align: center;
    font-size: 600;
    padding: 18px;
    border-radius: 8px;
}
.reason-rep{
    text-align: center;
}

.change-world{
    display: flex;
    justify-content:space-around;
    margin-top: 4px;
    padding: 8px;
    color: #0D1321;
    margin: 5px 3px;

}

.layer1-img{
    width: 259px;
    height: 217;
}

.web-system{
 display: flex;
 justify-content:space-around;
 color: #0D1321;
 padding: 8px;
 margin: 5px 3px;

}
.group3-img{

    width: 259px;
    height: 217;

}

.change-world-again{

    display: flex;
    justify-content:space-around;
    margin-top: 4px;
    padding: 8px;
    color: #0D1321;
    margin: 5px 3px;


}

.layer3-img{
    width: 259px;
    height: 217;

}
.inspiration{
    text-align: center;
}

.inspiration-heading{
    font-weight: 700;
}

.video{
    text-align: center;
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 2px;
    margin-top: 2px;
}


.current-target{
    text-align: center;
}

.three-box{
   
   display: flex;
  
  
    
}

.box-1{
    
    margin: 15px;
    padding: 40px;
    border: 2px solid gray;
    background-color: rgba(255, 211, 30, 0.05);
    
    
}

.box-2{
    margin: 15px;
    padding: 40px;
    border: 2px solid gray;
    background-color: rgba(0, 76, 232, 0.05);
}

.box-3{

    margin: 15px;
    padding: 40px;
    border: 2px solid gray;
    background-color: #ede6c0;
}

.learn-more-2{
    color: #0D1321;
    font-weight: 800;
}


.handshake{
    text-align: center;
    background-image: url("./assets/handshake.jpg");
    
}


.feedback{

    display: flex;
    margin-left: 40%;
    gap: 20px ;
}


.learn-btn{

    color: white;
    background-color: #0D1321;
    text-align: center;
    font-size: 600;
    padding: 10px 12px ;
    border-radius: 8px;

}

.learn-more-btn{


    color: white;
    background-color: #0D1321;
    text-align: center;
    font-size: 600;
    padding: 10px 12px ;
    border-radius: 8px;


}

.learn-more-btn-2{

    color: white;
    background-color: #0D1321;
    text-align: center;
    font-size: 600;
    padding: 10px 12px ;
    border-radius: 8px;


}

.last-btn{
    margin-bottom  : 15 px;
}

.whatsapp{
    height: 40px;
    width: 40px;

}

.footer-last{
    display: flex;
    text-decoration: none;
    gap: 40px;
    
}

 .sup-div{
    display: flex;
    margin-right: 30px;
    justify-content: space-evenly;
 }

 